{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static  'signin.css' %}">
</head>
  <body>
    <div class="wrapper">
      <div class="logo">
          <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
      </div>
      <div class="text-center mt-4 name">
          Twitter
      </div>
        
        <form class="p-3 mt-3" action="/signup" method="post">
        {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
              <span class="fas fa-key"></span>
              <input type="text" name="firstname" id="firstname" placeholder="First Name">
            </div>
            <div class="form-field d-flex align-items-center">
              <span class="fas fa-key"></span>
              <input type="text" name="lastname" id="lastname" placeholder="Last Name">
            </div>
            <div class="form-field d-flex align-items-center">
              <span class="fas fa-key"></span>
              <input type="email" name="email" id="email" placeholder="Enter Your email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Enter Password">
            </div>
            <div class="form-field d-flex align-items-center">
              <span class="fas fa-key"></span>
              <input type="password" name="confpassword" id="pwd" placeholder="Enter Password again">
            </div>
            <button class="btn mt-3" type='submit'>Sign Up</button>
        </form>
        <div class="text-center fs-6">
            {% comment %} <a href="#">Forget password?</a> or  {% endcomment %}
            <a href="/signin">Sign In</a>
        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h3>Signup</h3>
    <form action="/signup" method="post">
    {% csrf_token %}
        <label for="">UserName</label>
        <input type="text" id="username" name="username" placeholder="Create your UserName" required>
        <br>
        <label for="">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="First Name" required>
        <br>
        <label for="">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
        <br>
        <label for="">Email</label>
        <input type="email" id="email" name="email" placeholder="valid email" required>
        <br>
        <label for="">Password</label>
        <input type="password" id="password" name="password" placeholder="type password" required>
        <br>
        <label for="">Confirm Password</label>
        <input type="password" id="confpassword" name="confpassword" placeholder="same password as above" required>
        <br>
        <button type='submit'>Sign Up</button>
    </form>
</body>
</html> {% endcomment %}