{% extends 'app/homebase.html' %}
<h1>home page</h1>


{% block content %}


 
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.lenovo.com/medias/lenovo-laptop-thinkpad-x1-nano-13-subseries-feature-1-introducing-intel-evo.jpg?context=bWFzdGVyfHJvb3R8MjY4OTQ0fGltYWdlL2pwZ3xoMTcvaGY5LzExMDgxOTgwOTY4OTkwLmpwZ3xlODQ1NDdiYjE5OGNmODA5ZWJlYThhZjE2OGQ1OTI0NDYwMWFjOGU2NTMyMGI4MTEwZGQxNTRmNjlhZWQ1M2Jj" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ThinkPad X1 Nano 13, Intel</h5>
        <p class="card-text">The ThinkPad X1 Nano is our first ThinkPad laptop to use the Intel® Evo™ platform, delivering a powerhouse combination of performance, responsiveness, battery life, and stunning visuals. With up to 11th Gen Intel® Core™ i7 vPro® processors, you can count on an exceptional experience, anywhere.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.lenovo.com/medias/lenovo-laptop-thinkpad-x1-yoga-gen-6-14-intel-subseries-feature-3-cool-capabilities.jpg?context=bWFzdGVyfHJvb3R8MjIzMTEyfGltYWdlL2pwZWd8aDc3L2gyNS8xMTM0Mjc1NjkwNDk5MC5qcGd8YzM0ZWJlZDEyZTUyNTEwNzQyY2Q0ZWMzZTIzODVlZGE4YmM2YmFmZTQxNDRiOWQ2YTcxOGZhOWZiNjMzMmI2Yg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ThinkPad X1 Yoga 35.56cms - 11th Gen Intel i7</h5>
        <p class="card-text">With the Intel® Evo™ platform, the ThinkPad X1 Yoga Gen 6 2-in-1 laptop delivers a powerhouse combination of performance, responsiveness, battery life, and stunning visuals. Up to 11th Gen Intel® Core™ i7 vPro® processors mean you can count on an exceptional experience, anywhere.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.lenovo.com/medias/lenovo-laptops-thinkpad-t15p-gen-3-15-intel-feature-5.jpg?context=bWFzdGVyfHJvb3R8MTQzODA3fGltYWdlL2pwZ3xoY2MvaGY4LzE0NDYyNTczOTY5NDM4LmpwZ3w5MzkwZmM4NDFmMTk3MTUwYzA1YzY0Zjc4OGIzMTk1MTJlYTk4MTE0NDYzNDk4OTg1YzM3ZWZkZGFjOGY0NmJi" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ThinkPad T14 Gen 3, 35.56cms - AMD</h5>
        <p class="card-text">The ThinkPad T14 Gen 3 (14'' AMD) enables you to be as productive or creative as you like, anywhere. It’s powered by up to high-performance AMD Ryzen™ 7 PRO processors and AMD Radeon™ 600M integrated graphics . Together with vast amounts of blazing-fast memory and cutting-edge storage.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.lenovo.com/medias/lenovo-laptops-thinkpad-t14-gen-3-14-amd-features-6.jpg?context=bWFzdGVyfHJvb3R8NDQ1NDc1fGltYWdlL2pwZWd8aGQ0L2gzZS8xMzcxMjc0NjgwNzMyNi5qcGd8MWIyYTI1YzY3NTYxMmM1MTdhNWJhYmJmMDg5MGM5ODE4NmZhZGM1MGQ2OTgzNWVkMzI5OTc0ZTI4ZDc2YjU4Mg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ThinkPad T15p Gen 3 (15, Intel)</h5>
        <p class="card-text">The ThinkPad T15p mobile workstation comes with ThinkShield hardware and software security features, including the discrete Trusted Platform Module.</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}